<div class="container">
  <h1>
    Welcome to the Admin Panel!
  </h1>
  <h4>
    Here you can...
  </h4>
  <div class="row">
    <div class="col-6">
      <a class="btn btn-success" href="/edit_playlists">
        Edit playlists
      </a>
      <a class="btn btn-warning" href="/logout">
        Logout
      </a>
    </div>
    <div class="col-6">
      <h4>
        These features are coming soon
      </h4>
      <button class="btn btn-danger" disabled>
        Refresh everyone's page
      </button>
      <button class="btn btn-danger" disabled>
        Restart the server
      </button>
    </div>
  </div>
</div>