<script
  src="https://cdn.jsdelivr.net/npm/butterchurn@2.6.7/lib/butterchurn.min.js"
  type="module"
></script>
<script src="https://cdn.jsdelivr.net/npm/butterchurn-presets@2.4.7/lib/butterchurnPresets.min.js"></script>
<script src="/modulescript.js" type="module"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/openradio.js"></script>
<div class="container">
  <a
    data-toggle="modal"
    data-target="#modal_extras"
     id="extras_launcher"
     href="javascript:void(0);"
  >
    Extras
  </a>

  <!-- Modal -->
  <div
    class="modal fade"
    id="modal_extras"
    tabindex="-1"
    role="dialog"
    aria-labelledby="extraModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="extraModalLongTitle">Extra features</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>
            Developer Stuff
          </h2>
          <button
            onclick="controllerclick({debug: true});"
            class="btn btn-warning"
          >
            Show audio element
          </button>
          <h2>
            Visualizations
          </h2>
          <button onclick="window.toggleBc();" class="btn btn-success">
            Butterchurn/Milkdrop visualizer
          </button>
          <h2>
            Ui Misc
          </h2>
          <button onclick="$('#extras_launcher').hide();" class="btn btn-danger">
            Remove Ugly Extras Launcher
          </button>
          <button onclick="nextPalette();" class="btn btn-primary">
            Next Palette
          </button>
          <button onclick="prevPalette();" class="btn btn-primary">
            Previous Palette
          </button>
          <a onclick="toggleMinimal();" href="javascript:toggleMinimal();" class="btn btn-light debug-button">
            Minimal Mode
          </a>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="stations">
    {{{stations}}}
    <audio
      id="streamelem"
      src="/stream/main"
      controls
      autoplay
      preload="auto"
    ></audio>
  </div>
</div>
<div class="fixed-bottom bottom">
  <h4 class="white spaced" id="item-name-display">
    Pick a radio any radio
  </h4>
  <div class="white center justify-content-center" id="controller">
    <i class="fas fa-pause" id="controller-icon"></i>
  </div>
  <h5 class="white spaced" id="station-name-display">
    No station
  </h5>
</div>
